@model IDictionary<string, List<string>>

@{
    ViewData["Title"] = "Index";
}

<h1>Azure blob search</h1>

@foreach (var item in Model)
{
    @Html.DisplayFor(modelItem => item.Key)
    <span>:</span>
    @Html.DisplayFor(modelItem => item.Value.Count)
    <span>=</span>

    @foreach (var val in item.Value)
    {
        @Html.DisplayFor(modelItem => val)
        <span>,</span>
    }

    <br>
}

@* <p>
    ViewData
    <ul>
        @foreach(var vd in ViewData)
        {
            <li>@vd</li>
        }
    </ul>
</p> *@

@*
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Json)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <form asp-controller="Cities" asp-action="Index" method="get">
            <input type="text" name="searchString">
            <input type="submit" value="search">
        </form>
        <p>
        @{
            if (ViewData["searchString"] != null)
            {
                <b>Searching on '@ViewData["searchString"]'</b>
            }
        }
        </p>

@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Json)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
} *@
    </tbody>
</table>
